#cube-container, .slider_cube {
    left: 50%;
    align-items: center;
    display: flex
}

.slider_cube-nav:first-child, canvas {
    left: 0
}

body {
    font-family: Arial, sans-serif;
    background-color: #141414
}

body::-webkit-scrollbar {
    width: 0
}

#cube-container {
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 999999;
    width: 100%;
    height: 100%
}

#cube-placeholder {
    width: 825px
}

canvas {
    position: fixed;
    top: 0;
    image-rendering: pixelated;
    background: #141414 !important
}

.slider_cube {
    position: fixed;
    z-index: 100;
    /*top: 20px;*/
    bottom: 10%;
    transform: translateX(-50%);
    height: 50px;
    overflow: hidden
}

.slider_cube-box {
    height: 18px;
    display: flex;
    align-items: center;
    gap: 11.5px
}

.slider_cube-box::after, .slider_cube-box::before {
    border-color: transparent !important
}

.slider_cube-box::after, .slider_cube-box::before, .slider_cube-nav::after, .slider_cube-nav::before {
    content: "";
    display: block;
    width: 1px;
    height: 100%;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.slider_cube-item {
    width: 37px;
    height: 100%
}

.slider_cube-item a {
    display: block;
    height: 100%;
    width: 100%;
    border: 1px solid #ccc
}

.slider_cube-nav-box {
    position: relative
}

.slider_cube-nav {
    height: 50px;
    /*width: 100px;*/
    width: 93px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 7px;
    cursor: grab;
    background: 0 0
}

.slider_cube-nav:last-child {
    left: 148px
}

.slider_cube-nav.dragging {
    cursor: grabbing
}

.cssload-loader {
    position: relative;
    left: calc(50% - 31px);
    width: 100px;
    height: 100px;
    margin: 130px 0;
    perspective: 780px
}

.cssload-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 50%;
    -moz-border-radius: 50%
}

.cssload-inner.cssload-one {
    left: 0;
    top: 0;
    animation: 1.15s linear infinite cssload-rotate-one;
    border-bottom: 3px solid #5c5edc
}

.cssload-inner.cssload-two {
    right: 0;
    top: 0;
    animation: 1.15s linear infinite cssload-rotate-two;
    border-right: 3px solid rgba(76, 70, 101, .99)
}

.cssload-inner.cssload-three {
    right: 0;
    bottom: 0;
    animation: 1.15s linear infinite cssload-rotate-three;
    border-top: 3px solid #e9908a
}

@keyframes cssload-rotate-one {
    0% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0)
    }
    100% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg)
    }
}

@keyframes cssload-rotate-two {
    0% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0)
    }
    100% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg)
    }
}

@keyframes cssload-rotate-three {
    0% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0)
    }
    100% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg)
    }
}

